* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

#app {
  text-align: left;
  width: 90vw;
}

input[type="text"] {
  width: 100%;
  font-size: 5vw;
  padding: 0.5vw;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 2vw;
}

button {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  margin-left: 1vw;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  font-size: 1vw;
  line-height: 2vw;
  text-align: center;
}

button[disabled] {
  background-color: #444;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 20vw;
  line-height: 1.2;
  margin: 5vw 0;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  top: -2em;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
}
